# Deep Learning
tensorflow==2.19.0
torch==2.5.0
torchvision==0.20.0

# Computer Vision
opencv-python==4.8.1.78
mediapipe==0.10.18
ultralytics==8.3.141
deep-sort-realtime==1.3.2

# Procesamiento de Datos
numpy>=1.26.1
pandas>=2.1.2
scikit-learn>=1.3.2

# Optimización
onnx==1.15.0
onnxruntime==1.17.0
tensorrt==8.6.1

# Utilidades
matplotlib==3.8.2
seaborn==0.13.2
tqdm==4.66.1 